---
layout: default
title: Home
slug: home
path: ../

meta-title: Home
meta-description: Home page.
---

<div class="slide home-intro">
	<div class="inner">
		<h1>This is a bold statement that engages the user and begins the dialog</h1>
		<h2>This is secondary information to backup the main statement and keep the user flowing to the content of the page. It can be a bit longer because it can. <a href="#">Learn More</a></h2>
	</div>
</div>
<div class="slide home-posts">
	<div class="kathy-photo"><img src="{{ site.baseurl }}/img/kathy-sacks.jpg" alt="Kathy Sacks" /></div>
	<div class="inner">

		{% include article-list-item.html title="" link="" description="" %}
		{% include article-list-item.html title="" link="" description="" %}
		{% include article-list-item.html title="" link="" description="" %}

		{% include article-list-item.html title="" link="" description="" %}
		{% include article-list-item.html title="" link="" description="" %}
		{% include article-list-item.html title="" link="" description="" %}

		{% include article-list-item.html title="" link="" description="" %}
		{% include article-list-item.html title="" link="" description="" %}
		{% include article-list-item.html title="" link="" description="" %}

	</div>
</div>